*{
  margin: 0;
}
body{
  background-color: #34435dff;
}
.banner{
  width: 100%;
  height: auto;
}
.bannerimg{
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: relative;
  margin-top: -6%; /* 8% */
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0 75%);
  mask-image: linear-gradient(rgba(0, 0, 0, 0.2), black);
}
.logo{
  position: absolute;
  top:33%;
  left: 23%;
  transform: translate(-50%, -50%);
  width: 13%;
}
.titleDiv{
  text-align: center;
  color: #ffffff;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  line-height: 400%;
  font-size: 130%;
}

.nav{
    background-color: #e5cd4c80;
    height: 3.5em;
    left: 0;
    line-height: 3.5em;
    padding: 0 1.25em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    color: white;
    display: flex;
    flex-direction: row;
    column-gap: 5%;
}
.nav a{
  color: #ffffff;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  text-decoration: none;
}
.hidden{
  display: none;
}
